.git
.github
.husky

node_modules
**/node_modules
.pnpm-store
.pnpm-debug.log

.next
**/.next
.next-cache
**/.turbo

coverage
**/coverage
dist
**/dist
build
**/build

.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

infra/docker/.env
infra/docker/env/*.env
!infra/docker/env/*.env.example

.vscode
.idea

*.log
.DS_Store
Thumbs.db

README.md
docs