NODE_ENV=development
PORT=
APP_NAME=communication-service
APP_VERSION=
WEB_ORIGIN=

DATABASE_URL=
JWT_ACCESS_SECRET=
LOG_LEVEL=

REDIS_URL=

INTERNAL_SERVICE_SECRET=
COURSE_SERVICE_INTERNAL_URL=
ENROLLMENT_SERVICE_INTERNAL_URL=
USER_SERVICE_INTERNAL_URL=
EXTERNAL_SERVICE_TIMEOUT_MS=

REVIEW_REQUIRE_ENROLLMENT=
SOCKET_PATH=

SWAGGER_PATH=
SWAGGER_TITLE=
SWAGGER_DESCRIPTION=
SWAGGER_VERSION=
