COMPOSE_PROJECT_NAME=edupath_local
NODE_ENV=development


WEB_PORT=3006
API_GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
USER_SERVICE_PORT=3002
COURSE_SERVICE_PORT=3003
ENROLLMENT_SERVICE_PORT=3004
PAYMENT_SERVICE_PORT=3005
COMMUNICATION_SERVICE_PORT=3007


PG_AUTH_PORT=5433
PG_USER_PORT=5434
PG_COURSE_PORT=5435
PG_ENROLLMENT_PORT=5436
PG_PAYMENT_PORT=5437
PG_COMMUNICATION_PORT=5438


REDIS_PORT=6379
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025
