NODE_ENV=development
PORT=3005
APP_NAME=payment-service
API_PREFIX=api
WEB_ORIGIN=
APP_ORIGIN=

DATABASE_URL=
JWT_ACCESS_SECRET=
REDIS_URL=
COURSE_SERVICE_URL=
ENROLLMENT_SERVICE_URL=

SWAGGER_TITLE=
SWAGGER_DESCRIPTION=
SWAGGER_VERSION=

BULLMQ_PREFIX=
PAYMENT_QUEUE_NAME=
DEFAULT_CURRENCY=
ORDER_TTL_MINUTES=
PAYMENT_CALLBACK_BASE_URL=
PAYMENT_CALLBACK_SECRET=
INTERNAL_SERVICE_SECRET=


PAYMENT_PII_KEY_BASE64=
